<!doctype html>
<html lang="en">
  <head>
    <title>SOS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300, 400,700|Inconsolata:400,700" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">

   
    <nav class="navbar navbar-expand-md  navbar-light bg-light" >
      <div class="container">
        
       
        <div class="collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav mx-auto" >
            <li class="nav-item">
              <a class="nav-link " href="/"> HOME</h3></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/blogs"><b>BLOGS</b></a>
            </li>
            <%	if(currentUser) { %>
                     <li class="nav-item"><a class="nav-link" href="#"><%= currentUser.username %></h3></a></li>
                     <li class="nav-item"><a class="nav-link" href="/logout">LOGOUT</h3></a></li>
           <%  } else { %>
                   <li class="nav-item"><a class="nav-link" href="/verify_email">SIGNUP</h4></a></li>
                   <li class="nav-item"><a class="nav-link" href="/login">LOGIN</h4></a></li>
            <% } %>
          </ul>
          
        </div>
      </div>
    </nav>
  </head>
  <body>


<div class="container formContainer">
	<h1>
		Edit Post
	</h1>
	<form action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
		<div class="form-group">
			<input class="form-control" type="text" name="blog[title]" value="<%= blog.title %>">
		</div>
		<div class="form-group">
			<textarea class="form-control" name="blog[content]"><%= blog.content %></textarea>
		</div>
		<div class="form-group">
			<input class="btn btn-primary" type="submit" value="Post">
		</div>
	</form>
</div>

<%- include("../partials/footer") %>